.header {
	background-color: black;

	padding:48px;
}
h1{
	color:white;
	font-size:38px;
	font-family:bold 700;
	text-align:center;
}
.nav{
	color:blue;
	font-size:18px;
	font-family: sans-serif;
	text-align:center;

}
.adbox{
	background-color: blue;
	padding:28px;
}
.kicker{
	color:grey;
	font-family: sans-serif;
}
h2{
	font-size: 30px;
	font-family: bold 700;
}
.byline{
	color:grey;
	font-family: normal 400;
	font-size: 14px;

}
.caption{
	color:grey;
	font-size: 14px;
	font-family: normal 400;
	display 
}
h3{
	padding-left: 18px;
	font-size: 20px;
}

h4{
	padding-top: 4px;
}