.header {
	background-color: black;

	padding:48px;
}
h1{
	color:white;
	font-size:48px;
	font-family:bold 700;
	text-align:center;
	font-weight: bold;
}
.nav{
	color:#0066FF;
	font-size:18px;
	font-family: sans-serif;
	text-align:center;

}
.adbox{
	background-color: #00FFFF;
	padding:28px;
}
.kicker{
	color:grey;
	font-family: sans-serif;
}
h2{
	font-size: 30px;
	font-family: bold 700;
	font-weight: bold;
}


.byline{
	color:grey;
	font-family: normal 400;
	font-size: 14px;

}
.caption{
	color:grey;
	font-size: 14px;
	font-family: normal 400;
	display 
}
h3{
	padding-left: 18px;
	font-size: 40px;
}

h4{
	padding-top: 4px;
}
.footer{
	background-color: black;
	padding:28px;

}
h5{
	color:white;
	font-size: 18px;
	font-family: normal 400;
}